* {
  box-sizing: border-box;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  margin-top: 70px;
}

/* navbar will be styled tuesday*/

#main-form {
  background: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 500px;
  padding: 15px;
}

h1 {
  font-size: 28px;
  padding: 5px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #174143;
  margin-bottom: 7px;
}

.become-member p {
  text-align: right;
  margin-bottom: 50px;
  font-size: 14px;
  margin-right: 20px;
  color: #174143;
}

h2 {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #174143;
  margin-left: 20px;
  margin-bottom: 30px;
}

.label-input {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #174143;

}

.form {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

}

.form input {
  border-radius: 10px;
  border: 1px solid lightgrey;
  padding: 6px;
  width: 90%;
  margin-bottom: 10px;
}

.title {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #174143;
  margin-top: 30px;
  margin-bottom: 20px;
}

fieldset {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 35px;
  color: #174143;
}


.join {
  background: #427A76;
  color: white;
  width: 300px;
  padding: 8px;
  border-radius: 12px;
  display: block;
  margin: 0px auto 30px auto;
  border: none;
}

.radio-group {
  margin-bottom: 10px;
}

#application {
  max-width: 500px;
  margin: 50px auto;
  padding: 10px 30px 40px 30px;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}